.grid {
    width: 1300px;
    margin: auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 10px;
}

.grid__full-width {
    width: 100%;
}

.grid__col-4 {
    width: 25%;
    padding: 0 10px 0;
}

.grid__col-3 {
    width: calc(100% / 3);
    padding: 0 10px 0;
}

.grid__col-2 {
    width: calc(100% / 2);
    padding: 0 10px 0;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* primary */

.bottom__line--effect {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: width .6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* primary */

/*  contact */

.contact {
    /* height: 100%; */
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 24px;
    list-style: none;
    padding-left: 0;
}

.contact--item__link i {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--primary-color);
}

.contact--item__link {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 16px 0 12px;
    transition: all linear 0.1s;
}

.contact--item__link.contact--item__link-footer {
    margin: 0;
}

.contact--item__link span {
    margin-left: 4px;
}

.contact--item__link:hover {
    color: var(--primary-color);
}

/* portrait background */

.portrait-container {
    height: 800px;
    width: 100%;
    background: no-repeat url('../images/background-parallex.png');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.portrait-wrapper {
    margin: 0 50px;
    height: 700px;
    width: auto;
    display: grid;
    grid-gap: 50px;
    grid-template-areas: 
    "c1 c1 c2"
    "c1 c1 c3"
    "c4 c5 c6"
    ;
    object-fit: cover;
}

.portrait-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    z-index: 1;
    border-radius: 4px;
}

.portrait-item:first-child {
    grid-area: c1;
    background-image: url('../images/portrait1.png');
}

.portrait-item:nth-child(2) {
    grid-area: c2;
    background-image: url('../images/portrait2.png');
}

.portrait-item:nth-child(3) {
    grid-area: c3;
    background-image: url('../images/portrait3.png');
}

.portrait-item:nth-child(4) {
    grid-area: c4;
    background-image: url('../images/portrait4.png');
}

.portrait-item:nth-child(5) {
    grid-area: c5;
    background-image: url('../images/portrait5.png');
}

.portrait-item:last-child {
    grid-area: c6;
    background-image: url('../images/portrait6.png');
}


.portrait-item-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transform: scaleX(1);
    background-color: rgba(0, 0, 0, 0.3);
    transition: transform .7s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform-origin: right;
}

.portrait-item:hover .portrait-item-img::before {
    transform: scaleX(0);
    transform-origin: right;
}

.portrait-item:hover {
    filter: brightness(120%);
    transition: linear 0.4s;
}

.portrait-item-text {
    color: var(--white-color);
    padding: 24px;
    font-family: 'Satisfy' , cursive;
    font-size: 2.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* box content */

.box-content {
    text-align: center;
}

.box-content__header {
    width: 50%;
    margin: 0 auto;
}

.box-content__header-title {
    font-size: 3.5rem;
    font-family: 'Satisfy', cursive;
    color: var(--primary-color);
}

.box-content__header-text {
    font-size: 7rem;
    margin: 10px 0 30px;
    font-weight: 600;
    letter-spacing: -2px;
}

.box-content__header-desc {
    font-size: 1.6rem;
}

/* end box content */


/* modal form */

.modal-form-container {
    position: fixed;
    inset: 0;
    background-color: rgba(255 255 255 / 50%);
    z-index: 1000;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
}

.modal-form-container.active {
    opacity: 1;
    visibility: visible;
}

.modal-form.form-register {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.modal-form.form-login {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    margin: 0;
}

.form--item__checkbox {
    margin: 12px 24px;
    display: block;
    position: relative;
    padding-left: 24px;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--white-color);
    width: 45%;
}

.form--item__checkbox > :nth-child(3) {
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form--item__checkbox input:checked ~ .checkmark:after {
    display: block;
}

.form--item__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: default;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--white-color);
    cursor: pointer;
    border-radius: 50%;
}

.form--item__checkbox .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--primary-color);
}

.form--item__lost-pass {
    margin: 0 24px;
    font-size: 1.3rem;
    color: #26878a;
}

.form--item__lost-pass span {
    transition: all linear 0.3s;
}

.form--item__lost-pass span:hover {
    color: var(--black-color);
    text-shadow: 0 0 2px rgba( 0 0 0 / 30%);
    cursor: pointer;
}

.form--item__sign {
    width: 100%;
}

.form--item__sign-title {
    padding: 12px 24px;
    font-size: 1.4rem;
    color: var(--white-color);
}

.form--item__sign-body {
    width: 100%;
}

.form--item__sign-body-inner {
    width: 50%;
    float: left;
}

.form--item__sign-fb {
    background-color: rgb(59, 89, 152);
}

.form--item__sign-gg {
    background-color: rgb(221, 75, 57);
}

.form--item__sign-btn {
    padding: 24px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    display: inline-block;
    width: 100%;
    transition: all linear 0.2s;
    cursor: pointer;
}

.form--item__sign-btn:hover {
    filter: brightness(110%);
}

.form--item.form__btn-res-sign {
    padding: 0;
    margin: 24px;
}

.form-btn__switch {
    width: 100%;
}

.form-btn__switch--inner {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 24px;
}

.form-btn__switch-grl {
    font-size: 1.6rem;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    padding: 12px 0;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.form-register .form-btn__switch-login {
    background-color: #3fa2a5;
    border-bottom-right-radius: 6px;
}


.form-login .form-btn__switch-register {
    background-color: #3fa2a5;
    border-bottom-left-radius: 6px;
}

.modal-form {
    z-index: 2;
    background-color: var(--primary-color);
    margin-right: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
}

.form--inner {
    display: flex;
    flex-direction: column;
}

.modal-form__title {
    color: var(--white-color);
    margin: 24px;
    text-shadow: 0 0 2px rgb(236, 236, 236);
}

.modal-form__title-head {
    font-size: 2rem;
    font-weight: 600;
}

.modal-form__title-desc {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin: 12px 0;
}

.form--item {
    background-color: #6fdcdf;
    margin: 8px 24px;
    display: flex;
    height: 50px;
    padding: 0 24px;
    color: var(--white-color);
    border-radius: 6px;
}

.form--item.footer-register__form {
    background-color: #595959;
    margin: 8px 0;
}

.form--item:last-child {
    padding: 0;
    background-color: unset;
}

.form--item__icon {
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 12px;
    position: relative;
    bottom: 2px;
}

.form--item__input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white-color);
    width: 100%;
    height: 100%;
    cursor: text;
    font-size: 2rem;
}

.form--item__input::placeholder {
    color: var(--white-color);
    font-size: 2rem;   
}

.btn.footer-register__form-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.footer-register__form-btn:hover {
    color: var(--black-color);
    background-color: var(--white-color);
}

.btn {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all ease-in 0.35s;
    cursor: pointer;
    border-radius: 6px;
}

.btn:hover {
    background-color: #23a9af;
    color: var(--white-color);
}

/* media video */

.section-media {
    text-align: center;
    position: relative;
    border-radius: 6px;
    width: 90%;
    margin: auto;
}

.videoPlayer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    z-index: 10;
    display: none;
}

.myvideo {
    width: 100%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.videoPlayer.active {
    display: block;
}

.section-media__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
}

.section-media__close-btn i {
    font-size: 4rem;
    color: var(--primary-color);
}

.section-media__thumb {
    width: 100%;
    margin: auto;
    cursor: default;
    z-index: 1;
    position: relative;
}

.section-media__thumb::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    height: 10%;
    width: 5%;
    border-width: 8px;
    border-color: var(--primary-color) var(--primary-color) transparent transparent;
    border-style: solid;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.section-media__thumb::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -20px;
    height: 10%;
    width: 5%;
    border-width: 8px;
    border-color: transparent transparent var(--primary-color) var(--primary-color);
    border-style: solid;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.section-media:hover .section-media__thumb::before,
.section-media:hover .section-media__thumb::after {
    height: 15%;
    width: 10%;
}

.section-media__thumb-img {
    width: 100%;
    object-fit: cover;
}



.section-media__thumb-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.section-media__thumb-btn img {
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}

.section-media__thumb-btn:hover img {
    transform: scale(1.1);
}

.section-meida__desc {
    margin: 40px auto;
    width: 80%;
}

.section-meida__desc p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
}

/* tour slider */

.tour-slider {
    margin-top: 60px;
}

.tour-slider__container {
    width: 300px;
    height: 240px;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.tour-slider__container-bg {
    height: 100%;
    width: 100%;
}

.tour-slider__container-bg--img {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    transition: all ease-in-out 0.7s cubic-bezier(1, 0, 0, 1);
}

.tour-slider__container:hover .tour-slider__container-bg--img {
    transform: scale(1.1);
}

.tour-slider__container-box {
    position: absolute;
    z-index: 10;
    bottom: -40%;
    text-shadow: 0 0 2px rgba( 0 0 0 / 50%);
    background-color: rgba(255 255 255 / 40%);
    padding: 12px 0;
    transition: bottom 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.tour-slider__container:hover .tour-slider__container-box {
    bottom: 0%;
}

.slider-bg1 {
    background-image: url('../images/tour-featured-img-1.jpg');
}

.slider-bg2 {
    background-image: url('../images/tour-featured-img-20.jpg');
}

.slider-bg3 {
    background-image: url('../images/tour-featured-img-19.jpg');
}

.slider-bg4 {
    background-image: url('../images/tour-featured-img-16.jpg');
}

.slider-bg5 {
    background-image: url('../images/tour-featured-img-5.jpg');
}

.slider-bg6 {
    background-image: url('../images/tour-featured-img-4.jpg');
}

.slider-bg7 {
    background-image: url('../images/tour-featured-img-2.jpg');
}

.slider-bg8 {
    background-image: url('../images/tour-featured-img-17.jpg');
}

.slider-bg9 {
    background-image: url('../images/tour-featured-img-18.jpg');
}

.slider-bg10 {
    background-image: url('../images/tour-featured-img-1.jpg');
}

.slider-bg11 {
    background-image: url('../images/tour-featured-img-15.jpg');
}

.slider-bg12 {
    background-image: url('../images/tour-featured-img-21.jpg');
}

.tour-slider__container-box__title {
    font-size: 1.6rem;
    padding: 0 24px 12px;
}

.tour-slider__container-box__desc {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 24px 24px;
    overflow: hidden;
    height: 3.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.slick-arrow {
    border: none;
    outline: none;
    background-color: var(--white-color);
    box-shadow: 0 0 2px rgba(0 0 0 / 30%);
    position: absolute;
    padding: 6px 12px;
    top: 35%;
    z-index: 10;
    border-radius: 4px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

.slick-arrow:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.slick-arrow i {
    cursor: inherit;
}

.slick-prev {
    left: -16px;
}

.slick-next {
    right: -16px;
}

.slick-initialized .slick-slide {
    margin: 0 10px;
}

.slick-dots {
    list-style: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.slick-dots li {
    margin: 20px;
}

.slick-dots button {
    background-color: #9ee9e9;
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.2s linear;
    border: none;
    outline: none;
}

.slick-dots .slick-active button {
    background-color: var(--primary-color);
}